@use './components';

:root{
   --font-title: "Roboto";
   --font-body: "Arial";
   --font-size: 30px;

   --color-light-background: #fff;
   --color-dark-background: #ddd;

   --color-light-foreground: #333;
   --color-dark-foreground: #222;

   --color-primary-light: #cd0000;
   --color-primary-dark: #9a0000;


   --color-background: var(--color-light-background);
   --color-panel: var(--color-dark-background);

   --color-foreground: var(--color-light-foreground);
   --color-text: var(--color-dark-foreground);
}

.darkmode{
   --color-light-background: #333;
   --color-dark-background: #222;

   --color-light-foreground: #fff;
   --color-dark-foreground: #ddd;

   --color-background: var(--color-dark-background);
   --color-panel: var(--color-light-background);

   --color-foreground: var(--color-dark-foreground);
   --color-text: var(--color-light-foreground);

}

body, html{
   margin: 0;
   padding: 0;
}

body{
   font-family: var(--font-body);
   color: var(--color-text);
   background: var(--color-background);
   font-size: var(--font-size);
}

h1,h2,h3,h4,h5,h6{
   color: var(--color-primary-light);
}

button{
   font-size: var(--font-size);
   float: inline-end;
   background: var(--color-primary-light);
   color: var(--color-text);
   border-radius: 5px;
   border: 0;
   transition: 0.1s ease;
   padding: 0 5px 5px 5px;
   &:hover{
      background: var(--color-primary-dark);
   }
}
