@use './components';

:root{
   --font-title: "Roboto";
   --font-body: "Arial";
   --font-size: 30px;

   --color-light: #eee;
   --color-dark: rgb(51, 51, 51);
   --color-primary-light: #cd0000;
   --color-primary-dark: #9a0000;

   --foreground: var(--color-dark);
   --background: var(--color-light);

}

.darkmode{
   --foreground: var(--color-light);
   --background: var(--color-dark);
   --color-primary: var(--color-primary-light);
   --color-primary-hover: var(--color-primary-dark);
}

body, html{
   margin: 0;
   padding: 0;
}

body{
   font-family: var(--font-body);
   color: var(--foreground);
   background: var(--background);
   font-size: var(--font-size);
}

h1,h2,h3,h4,h5,h6{
   color: var(--color-primary);
}
