.chat-header{
   height: 50px;
   background: var(--color-primary-dark);
   display: flex;
   justify-content: center;
   align-items: center;   
}

.chat-header > h2{
   margin: 0;
   text-align: center;
   color: white;
   font-size: 1.8rem;
}
