.contacts{
   /* position: absolute;
   left: 0;
   top: 0;
   bottom: 0; */
   /* width: 400px; */
   background: var(--color-panel);
}

.contact{
   color: var(--color-primary-light);
   margin: 20px 0 0 20px;
}
