.login-container{
   height: 100vh;
}

.login-wrapper{
   position: absolute;
   top: -20vh;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto auto;
   width: max-content;
   height: max-content;
}

h2.login{
   margin-top: 0;
}

input.login{
   font-size: var(--font-size);
   margin-bottom: 20px;
}

.login-container .modal-btn{
   margin-left: 10px;
}
